*, *::after, *::before {
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    
    

}
.title{
    height: 100px;
    
    /* width: 54vw; */
    /* margin-left: 23%; */
    
    padding-top: 0px;
    
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Piedra', cursive;
    
}
.main{
    
    
    width: 100vw;
    
    display: flex;
   
   justify-content: center;
   align-items: flex-end;
   
    
}
.cell:nth-child(odd){
    background-color: #BDC3C7;
}
.cell:nth-child(even){
    background-color: #CACFD2;
}
.player,.score,.titlename{
    margin: 0;
    padding: 0;
    
}
.player{
    width:240px ;
    display: flex;
    justify-content: flex-start;
    font-family: 'Permanent Marker', cursive;
    
}
.score{
    width: 240px;
    display: flex;
    font-size: 1.2rem;
    
    justify-content: flex-end;
    font-family: 'Source Code Pro', monospace;

    
}
.board{
    display: grid;
    width: 100vw;
    height: 504px;
    
    /* background-color: black; */
    grid-template-columns: repeat(9,auto);
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
   
    
    
    

}
.cell{
    display: flex;
    background-color: #626567;
    
    width: 54px;
    height: 54px;
    border:2px solid white;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;

    
}
.redselect{
    background-color: #E74C3C;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0VgFR42AfukgRabgMBcMIVUcmjmkDbRDs1y2YYlI87nUAgFnV&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cell.greenselect{
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    background-color: #58D68D;
}
.cell:not(.warning):not(.greenselect):hover{
    border: 0;
    height: 50px;
    width: 50px;
    background-color:#CCFFFF;
    
}

.warning{
    /* content: '🚩';
    font-size: 2em; */
    background-image:  url('https://image.shutterstock.com/image-vector/red-flag-vector-illustration-600w-437022037.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 52px;
    

}

.disabled{
    pointer-events: none;
}

.button{
    display: flex;
    justify-content: center;
}

#resetButton{
    
    margin-top: 15px;
    font-size: 2rem;
    font-family: 'Concert One', cursive;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: #909497;
    border: 2px solid gray;
}
.winning-message {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.9);
    
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message.show {
    display: flex;
}
.winning-message #restartButton {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25rem 0.5rem;
    cursor: pointer;
    position: absolute;
    bottom: 25%;
    
}

.child{
    display: none;
}

.child.show{
    display: inline-block;
    position: absolute;
    background-color: khaki;
    opacity: 0.6;
    
}

.firstedge,.secondedgeleft,.thirdedgeup,.fourthedgeupleft{
    border-top:2px solid red ;
    border-left:2px solid red ;
}
.firstedgeright,.secondedge,.thirdedgeupright,.fourthedgeup{
    border-top:2px solid red ;
    border-right:2px solid red ;
}
.firstedgedown,.secondedgedownleft,.thirdedge,.fourthedgeleft{
    border-bottom:2px solid red ;
    border-left:2px solid red ;
}
.firstedgedownright,.secondedgedown,.thirdedgeright,.fourthedge{
    border-bottom:2px solid red ;
    border-right:2px solid red ;
}

.leftedge{
    border-left:2px solid red ;
}
.leftedgeup{
    border-left:2px solid red ;
    border-top:2px solid red ;
}
.leftedgedown{
    border-left:2px solid red ;
    border-bottom:2px solid red ;
}
.leftedgeupright{
    border-top:2px solid red ;
    border-right:2px solid red ;
}
.leftedgeright{
    
    border-right:2px solid red ;
}
.leftedgedownright{
    border-bottom:2px solid red ;
    border-right:2px solid red ;
}
.topedge{
    border-top:2px solid red ;

}
.topedgeright{
    border-top:2px solid red ;
    border-right:2px solid red ;
}
.topedgeleft{
    border-top:2px solid red ;
    border-left:2px solid red ;
}
.topedgedown{
    border-bottom:2px solid red ;
}
.topedgedownleft{
    border-bottom:2px solid red ;
    border-left:2px solid red ;
}
.topedgedownright{
    border-bottom:2px solid red ;
    border-right:2px solid red ;
}
.rightedge{
    border-right:2px solid red ;
}
.rightedgeup{
    border-right:2px solid red ;
    border-top:2px solid red ;
}
.rightedgedown{
    border-right:2px solid red ;
    border-bottom:2px solid red ;
}
.rightedgeleft{
    border-left:2px solid red ;
}
.rightedgeleftdown{
    border-left:2px solid red ;
    border-bottom:2px solid red ;
}
.rightedgeleftup{
    border-left:2px solid red ;
    border-top:2px solid red ;
}
.bottomedge,.middledown{
    border-bottom:2px solid red ;
}
.bottomright,.middledownright{
    border-right:2px solid red ;
    border-bottom:2px solid red ;
}
.bottomleft,.middledownleft{
    border-left:2px solid red ;
    border-bottom:2px solid red ;
}
.bottomup,.middleup{
    border-top:2px solid red ;
}
.bottomupleft,.middleupleft{
    border-left:2px solid red ;
    border-top:2px solid red ;
}
.bottomupright,.middleupright{
    border-right:2px solid red ;
    border-top:2px solid red ;
}
.middleleft{
    border-left: 2px solid red;
}
.middleright{
    border-right: 2px solid red;
}